.nav-bar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #646E68;
}
.title{
    display: flex;
    align-items: center;
    background-color: #C9C5CB;
    height: 100%;
    text-align: center;
    font-size: 30px;
  
}
.title h1{
    padding: 0 30px;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 500px;
    font-size: 20px;
}
.link a{
    text-decoration: none;
    color: white;
}
.content{
    padding: 0 50px;
    background-color: #BAACBD;
    padding: 20px;
}
.section-title{
    font-size: 45px;
    text-align: center;
    padding: 20px 0;
}
.about-me-text{
    font-size: 20px;
}
#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-me img{
    display: block;
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;
    margin: 20px 0;
}
.first-project-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.first-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: top;
    max-width: 700px;
    max-height: 700px;
    background-color: white;
    border-radius: 10px;
}
.project-title{
    margin-top: 20px;
    font-size: 20px;
}
.project-links{
    padding: 15px;
    
    
}
.project-links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.first-project img{
    display: block;
    max-width:700px;
    max-height:700px;
    width: auto;
    height: auto;
    margin: 20px 0;
}

.project-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    max-height: 350px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.project img{
    display: block;
    max-width:325px;
    max-height:325px;
    width: auto;
    height: auto;
    margin: 20px 0;
}
.about-me-text{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.contact-section{
    display:flex;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.contact-section div p{
    text-decoration: none;
    color: red;
}
.contact-section div p a{
    text-decoration: none;
    color: blue;
}
@media screen and (max-width: 844px) {
    .first-project{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        max-height: 350px;
        background-color: white;
        border-radius: 10px;
        margin: 20px;
    }
    .first-project img{
        display: block;
        max-width:325px;
        max-height:325px;
        width: auto;
        height: auto;
        margin: 20px 0;
    }
  }